name: Linux Test

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'skip ci')"

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: '3.8'
    - name: Install dependencies
      shell: bash
      run: |
          sudo apt install -y verilator libgmp-dev libmpfr-dev libmpc-dev iverilog
          verilator --version
    - name: Install Python packages
      shell: bash -l {0}
      run: |
          pip install "pytest<6"
          pip install pytest-cov pytest-pycodestyle
          pip install mantle>=2.0.0  # for tests.common
          pip install vcdvcd decorator kratos
          pip install smt-switch pono
          pip install .

    - name: Pytest
      shell: bash -l {0}
      run: |
        export LD_LIBRARY_PATH=/usr/lib:$LD_LIBRARY_PATH
        pytest --pycodestyle --cov-report=xml --cov=fault tests/ -v -r s
    - name: Coverage
      shell: bash -l {0}
      run: |
        bash <(curl -s https://codecov.io/bash)

