name: MacOS Test

on: [push]

jobs:
  build:

    runs-on: macos-latest
    if: "!contains(github.event.head_commit.message, 'skip ci')"

    steps:
    - uses: actions/checkout@v2
    - name: Checkout submodules
      shell: bash
      run: |
        auth_header="$(git config --local --get http.https://github.com/.extraheader)"
        git submodule sync --recursive
        git -c "http.extraheader=$auth_header" -c protocol.version=2 submodule update --init --force --recursive --depth=1
    - name: Setup Env
      uses: conda-incubator/setup-miniconda@v2
      with:
        auto-update-conda: true
        python-version: 3.7
    - name: Install verilator
      shell: bash
      run: |
          brew update
          brew install verilator icarus-verilog
          verilator --version
          iverilog -V
    - name: Install Python packages
      shell: bash -l {0}
      run: |
          pip install "pytest<6"
          pip install pytest-cov pytest-pycodestyle
          pip install mantle>=2.0.0  # for tests.common
          pip install vcdvcd decorator kratos
          pip install .
    - name: Pytest
      shell: bash -l {0}
      run: |
        pytest --pycodestyle --cov-report=xml --cov=fault tests/ -v -r s
    - name: Coverage
      shell: bash -l {0}
      run: |
        bash <(curl -s https://codecov.io/bash)

